:root {
    --navbar-bg-color: #5fb8bf;
    --primary-color: #ffffff;
}

/*class*/

.right {
    display: flex;
    float: right;
}

.center {
    display: flex;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vertical_center {
    vertical-align: middle;
}

.left {
    display: flex;
    float: left;
}

.relative {
    position: relative;
}

/*id*/

#menu {
    float: center;
}

#bottombar {
    position: relative;
    width: 80%;
    height: 50px;
    background-color: var(--navbar-bg-color);
    color: var(--navbar-bg-color);
}

#PageButton {
    display: flex;
    background-color: var(--primary-color);
    width: 80px;
    height: 20px;
    text-align: center;
}