:root {
    --blue: #bffbff;
    --pink: #ffbfe4;
    --purple: #d1bfff;
    --green: #bfffd8;
    --primary-color: #ffffff;
}

div a {
    text-align: center;
}

h1 {
    font-size: small;
    vertical-align: middle;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*class*/

.left {
    float: left;
}

.center {
    position: relative;
    padding: 15px;
}

.right {
    float: right;
}

.middle {
    vertical-align: middle;
}

.topbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    height: 50px;
    background-color: var(--purple);
    align-items: center;
}

.bottombar {
    position: fixed;
    bottom: 0;
    overflow: hidden;
    height: 50px;
    background-color: var(--blue);
    align-items: center;

}

/*id*/

#MainPage {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #bfffd8;
}

#bar {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#bar a {
    background-color: var(--primary-color);
    width: 100px;
    text-align: center;
    border-radius: 5%;
    padding: 10px;
    text-decoration: none;
}