<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App Name</title>
  <link 
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
  <header id="header" class="bar">
    <div id="today">date ajd</div>
    <h1 id="pageTitle">page titre</h1>
    
    <!--Remplacer le h1 avec un élément qui reprend le titre de la page sélectionnée-->
    {% if title %}
      <title>Home - {{title}}</title>
    {%else%}
      <title>Home</title>
    {%endif%}
    <!--Remplacer le h1 avec un élément qui reprend le titre de la page sélectionnée-->

    <a href="/settings">Réglages</a>
  </header>

  {% block content %}{% endblock %}

  <footer id="footer" class="bar">
    <a href="/tracker">Tracker</a>
    <a href="/journal">Journal</a>
    <a href="/todo">To Do</a>
  </footer>
  <link
  rel="script"
  type="text/javascript"
  src="{{ url_for('static', filename='script.js') }}"/>
</body>
</html>