{% extends "index.html" %} {% block content %}
<link 
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='styles/journal_style.css') }}"/>
<body>
    <div class="container">
        
        <form id="journal_form" action="/fonction-journal" method="post">
            <br>
            <label for="titre">Titre:</label><br>
            <input
                type="text"
                id="titre"
                name="titre"
                placeholder="Titre..."
                style="text-align: center;"><br><br>
            
            <label for="contenu">Contenu:</label><br>
            <textarea
                type="input"
                id="contenu"
                name="contenu"
                rows="4"
                col="100"
                placeholder="Cher journal..."></textarea><br>
            <button form="journal_form" type="submit" style="color: var(--darkpurple); font-weight: bolder;">Nouvelle Entrée (marche pas encore)</button><br>
        </form>
    </div>
    <div id="output" class="journal-container" style="background-color: white;"></div>
    <script src="{{ url_for('static', filename='scripts/journal_script.js') }}"></script>
</body>
{% endblock %}